                <div class="docs-link-sections">
                    <h3 id="glossary"><i class="fa fa-book"></i>Glossary</h3>
                    <a href="/glossary/">Glossary</a>
                    <p>This glossary offers a list of terms and definitions to define a vocabulary for OpenStack-related concepts</p>
                </div>
